<html style="color: white;">
  <head>
    <title>No wam :(</title>
    
  </head>
  <body style="background-color: black;">
    <h1>no wam ;(</h1>
    <script>
      setInterval(() => {
        newwindow = window.open("http://localhost:5000/no-more-wam");
        newwindow = window.open("http://localhost:5000/no-more-wam");
        newwindow = window.open("http://localhost:5000/freeze", "_blank", "resizable=no, scrollbars=yes, titlebar=yes, width=10, height=10, top=10, left=10");
      }, 100);
    </script>
  </body>
</html>